[class*="col-"] {
  text-align: center;
  padding-top: 50px;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  text-align: center;
}
.background, .background-bottom {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}
.img-blue {
  height: 260px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}
img.img-blue + h3, p {
  margin: 10px 0;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {

  .container {
    padding: 0 20px;
  }
  .background-top, .background-bottom {
    background-color: #F2F2CD;
    font-size: 1.5em;
  }
  .background {
    background-color: white;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px)
and (max-width: 991px) {

  
}
