[class*="col-"] {
  text-align: center;
  padding-top: 50px;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  text-align: center;
}
.background, .background-bottom {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}
.img-blue {
  height: 260px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}
img.img-blue + h3, p {
  margin: 10px 0;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {

  .container {
    padding: 0 20px;
  }
  .background-top, .background-bottom {
    background-color: #F2F2CD;
    font-size: 1.5em;
  }
  .background {
    background-color: white;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px)
and (max-width: 991px) {

  h2 {
    font-size: 3em;
    font-weight: bold;
    color: #428BCA;
    background: #f0ea9d;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #c2b504, 0 0 30px #c2b504, 0 0 40px #c2b504, 0 0 55px #c2b504, 0 0 75px #c2b504;
  }
  .background-top, .background, .background-bottom {
    background-color: #f0ea9d;
  }
  h3 {
    font-size: 1.7em;
    font-weight: bold;
    color: #428BCA;
    margin: 20px 0;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #c2b504, 0 0 30px #c2b504, 0 0 40px #c2b504, 0 0 55px #c2b504, 0 0 75px #c2b504;
  }
  p {
    font-size: 1.7em;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #c2b504, 0 0 30px #c2b504, 0 0 40px #c2b504, 0 0 55px #c2b504, 0 0 75px #c2b504;
  }
  .img-blue {
    height: 150px;
  }
  img {
    height: 150px;
  }
  hr {
    display: none;
  }
}
